@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
@import url("styles/profile.css");
@import url("styles/alert.css");
@import url("styles/profilehead.css");
@import url("styles/footer.css");

/*
  1. Use a more-intuitive box-sizing model.
  2. Remove default margin
*/
* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --gradient: purple;
  /*
  usage: background: var(--gradientUse);
  deg is the angle for gradient 
  */
  --gradientUse: linear-gradient(50deg, var(--socialpink), var(--socialblue));
  --socialpink: #f62e8e;
  --socialblue: #2e8af6;
  --darkblack: #181a1c;
  --lightwhite: #ecebed;
  --black: #000000;
  --white: #ffffff;
  --gray: #323436;
  --lightgray: #727477;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
  */
body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}

main {
  background-color: var(--darkblack);
  /* Gibt es hier einen besseren weg?*/
  margin-bottom: 10vh;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
